{% load static %}
<!DOCTYPE html>
<html>  
<head>  
</head>  
<body>  
<form>  
<h1>Programming Languages: <br>  </h1>  
             <h1> <input type="checkbox" id="C" name="C" value="C"/>    
                 <label>C</label> <br>   </h1> 
             <h1> <input type="checkbox" id="Java" name="Java" value="Java" checked=?yes?/>    
                 <label>Django</label> <br>  </h1>  
             <h1> <input type="checkbox" id="Python" name="Python" value="Python"/>    
                 <label>Python</label> <br>  </h1>
             <h1> <input type="checkbox" id="PHP" name="PHP" value="PHP"/>    
                 <label>Java</label>  </h1>
                 <img src="{% static 'image/study.jpg' %}" alt="no image" width="700px",height="800px">
    
</form>  
</body>  
</html>  