{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cs11.css' %}">
    
</head>
<body>
    <h1><b>TOURIST VISITER PLACES </b></h1>
    <img src="{% static 'image/BRIDGE.jpeg' %}" alt="no image" width="200px",height="300px">
    <img src="{% static 'image/NATURE.jpeg' %}" alt="no image" width="200px",height="300px">
    <img src="{% static 'image/mountain.jpg' %}" alt="no image" width="200px",height="300px">
    
</body>
</html>